

.texto1{
	position:absolute;
	left:42px;
	top: 20px;
}

.texto2
{
	position:absolute;
	left:42px;
	top: 51px;
	width: 47px;
}

.texto3
{
	position:absolute;
	left:42px;
	top: 79px;
}
.texto4
{
	position:absolute;
	left:42px;
	top: 122px;
}
.texto5
{
	position:absolute;
	left:42px;
	top: 156px;
}
.texto6
{
	position:absolute;
	left:42px;
	top: 193px;
}
.texto7
{
	position:absolute;
	left:42px;
	top: 228px;
}
.texto8
{
	position:absolute;
	left:42px;
	top: 261px;
}
.texto9
{
	position:absolute;
	left:42px;
	top: 297px;
}

.rotulo1 {
	position:absolute;
	left:147px;
	top: 221px;
	width: 254px;
	}
.rotulo2 {
	position:absolute;
	left:105px;
	top: -2px;
	}
.rotulo3 {
	position:absolute;
	left:105px;
	top: 6px;
	}
.rotulo4 {
	position:absolute;
	left:106px;
	top: -3px;
	width: 320px;
	}
.rotulo5 {
	position:absolute;
	left:105px;
	top: -5px;
	}
.rotulo6 {
	position:absolute;
	left:105px;
	top: -7px;
	}
.rotulo7 {
	position:absolute;
	left:106px;
	top: -3px;
	width: 316px;
	}
.rotulo8 {
	position:absolute;
	left:146px;
	top: 257px;
	width: 129px;
	}
.rotulo9 {
	position:absolute;
	left:145px;
	top: 292px;
	width: 127px;
	}
	
	.bot_cad {
	position:absolute;
	left:200px;
	top: 331px;
	}