
#TOPO {
	background: #333333   url(../images/topo1.jpg) repeat-x;
	height: 130px;
	position: relative;

}


/*Formatação bloco MENU
 ****************************/
ul#MENU {
	margin:-65px 0px 0px;
	padding:0px;
	position:absolute;
	left: 468px;
	top: 73px;
	width: 400px;
	}
ul#MENU li {
	display:inline;
	margin-right: 20px;
}
ul#MENU li a {
	text-decoration:none;
	color:#F4F4F4;
	font: 14px Calibri, Verdana, Arial;
}
ul#MENU li a.active, ul#MENU li a:hover {
	border-top: 2px dotted #666666;
	color: #999999;
}

/*Logotipo
****************************/
#logotipo {
	width:244px;
	height:121px;
	background: url(../images/logo.png) no-repeat top;
	clear: both;
	float: left;
	margin-top: -90px;
	position: absolute;
	left: 14px;
	top: 97px;
}

.botao_login  {
	color: #000;
	font: 13px "Trebuchet MS", Calibri, Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 17px;
	width: 61px;
	margin-left: 200px;
	margin-top: 3px;
	left: 703px;
	top: 95px;
        }
		
.form_senha {
	color: #000;
	font: 13px "Trebuchet MS", Calibri, Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 15px;
	width: 120px;
	margin-left: 795px;
	margin-top: 95px;
	left: -120px;
	top: 8px;
}


.tag_form_log {
	color: #FFFFFF;
	font: 13px "Trebuchet MS", Calibri, Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 25px;
	width: 477px;
	margin-left: 550px;
	margin-top: 95px;
	left: -143px;
	top: 9px;
}

.tag_form_senha {
	color: #FFFFFF;
	font: 13px "Trebuchet MS", Calibri, Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 15px;
	width: 45px;
	margin-left: 750px;
	margin-top: 95px;
	top: 9px;
	left: -133px;
}
.form_log {
	color: #FFFFFF;
	font: 13px "Trebuchet MS", Calibri, Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 15px;
	width: 400px;
	margin-left: 550px;
	margin-top: 95px;
	left: -143px;
	top: 9px;
}
.form_usuario{
	color: #FFFFFF;
	font: 13px "Trebuchet MS", Calibri, Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 15px;
	width: 100px;
	margin-left: 550px;
	margin-top: 80px;
	left: -143px;
	top: 0px;

}


.form_senha{
	color: #FFFFFF;
	font: 13px "Trebuchet MS", Calibri, Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 15px;
	width: 100px;
	margin-left: 710px;
	margin-top: 80px;
	left: -143px;
	top: 0px;

}

.form_logar{
	
	color: #FFFFFF;
	font: 13px "Trebuchet MS", Calibri, Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 15px;
	width: 100px;
	margin-left: 870px;
	margin-top: 80px;
	left: -143px;
	top: 23px;
}