body {
	margin:0px;
	padding:0px;
	background-color: #FFF;
	color: #666666;
	font: 11px "Trebuchet MS", Calibri, Verdana, Arial;
}

/*Formatação bloco GERAL
 ****************************/
#GERAL {
	background-color:#009900;
	width: 1024px;
	margin: 0px auto;
	position: relative;
}



/*Formatação bloco BUSCA
 ****************************/
#BBUSCA { 
	background: center #FFF  url(../images/barra_busca.png) repeat-x;
	height: 30px;
	position: relative;
}



/*Formatação bloco CONTEUDO
 ****************************/
#CONTEUDO {
	background: #FF9900;
}
/*Formatação bloco RODAPE
 ****************************/
#RODAPE {
	 
	clear: both;
	float: left;
	width: 1024px;
	background:  center  url(../images/barra_busca.png) repeat-x;
	color:#FFF;
	height: 30px;
}



/*Formatação bloco BARRA
****************************/
.BARRAD{
float: right;
width: 160px;
height: 525px;
border:#F0F0F0 solid   medium;
}
.BARRA{
float: left;
width: 160px;
height: 525px;
border:#F0F0F0 solid   medium;
}
.MARCADOR_BARRA_CAT{
background:  url(../images/marcador_categorias.png);  
float: left;
width: 160px;
height: 30px;
}

.MARCADOR_BARRA_SUG{
background: url(../images/sugeridos.png);  
float: left;
width: 160px;
height: 30px;
}

.BUSCA{
	color: #000;
	font: 13px "Trebuchet MS", Calibri, Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 20px;
	width: 120px;
	margin-left: 20px;
	margin-top: 3px;
}

.BPRODUTO{
	color: #000;
	font: 13px "Trebuchet MS", Calibri, Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 17px;
	width: 120px;
	margin-left: 200px;
	margin-top: 3px;
	left: 7px;
	top: 0px;
}

.botao_busca  {
	color: #000;
	font: 13px "Trebuchet MS", Calibri, Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 17px;
	width: 61px;
	margin-left: 200px;
	margin-top: 3px;
	left: 143px;
	top: 0px;
        }


.PROMOCOES {
	background: url(../images/mais_vendidos.png);
	font: 13px "Trebuchet MS", Calibri,    			    Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 232px;
	width: 681px;
	margin-left: 550px;
	margin-top: 200px;
	left: -379px;
	top: -39px;

}

.EXI_PROMOCOES {
	background:  url(../images/frame_produtos.png);
	font: 13px "Trebuchet MS", Calibri,    			    Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 232px;
	width: 681px;
	margin-left: 550px;
	margin-top: 350px;
	left: -378px;
	top: 45px;

}

.CADASTRO{
	background:  url(../images/cad_usuario.png);
	font: 13px "Trebuchet MS", Calibri,    			    Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 512px;
	width: 681px;
	margin-left: 550px;
	margin-top: 200px;
	left: -378px;
	top: -41px;

}

.form_cad {
	font: 13px "Trebuchet MS", Calibri,    			    Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 441px;
	width: 615px;
	margin-left: 550px;
	margin-top: 200px;
	left: -513px;
	top: -156px;

}


}

.PRODUTO {
	background:  url(../images/349252P1.jpg);
	border:medium;
	font: 13px "Trebuchet MS", Calibri,    			    Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height:151px;
	width: 149px;
	margin-left: 550px;
	margin-top: 200px;
	left: -513px;
	top: -156px;

}

.formulario{
position:relative;
margin:0;
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
color:#036;
}

.carrinho {
	background:url(../images/carrinho.png);
	position:absolute;
	left:549px;
	top: -11px;
	width: 130px;
	height: 43px;
	}
	
	
	.sel_produto{
	border:medium;
	font: 13px "Trebuchet MS", Calibri,    			    Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 225px;
	width: 663px;
	margin-left: 550px;
	margin-top: 200px;
	left: -371px;
	top: -32px
}

.Exibe_cat{
	position:absolute;
	left:16px;
	top: 203px;
	width: 127px;
	height: 23px;


}
.label_car {
	position:absolute;
	left:64px;
	top: 18px;
	width: 50px;
	height: 9px;
	color: #FFF;
	}
	
.Exibe_promo{
		position:absolute;
	left:195px;
	top: 433px;
	width: 628px;
	height: 171px;

}
.Exibe_produ{
	position:absolute;
	left:203px;
	top: 198px;
	width: 628px;
	height: 171px;


}

.CADASTROPROD{
	background: url(../images/cad_produtos.png);
	font: 13px "Trebuchet MS", Calibri,    			    Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 512px;
	width: 681px;
	margin-left: 550px;
	margin-top: 200px;
	left: -378px;
	top: -41px;

}

.ADMIN{
	background: url(../images/frame_adm.png);
	font: 13px "Trebuchet MS", Calibri,    			    Verdana, Arial;
	clear: both;
	float: left;
	position: absolute;
	height: 512px;
	width: 681px;
	margin-left: 550px;
	margin-top: 200px;
	left: -378px;
	top: -41px;

}
.icone_atu{
	position:absolute;
	left:70px;
	top: 85px;
	width: 110px;
	height: 87px;
	}
	.label_atu{
	position:absolute;
	left:100px;
	top: 20px;
	width: 50px;
	height: 87px;
	}

.icone_cat{
	position:absolute;
	left:70px;
	top: 160px;
	width: 110px;
	height: 87px;
	}
	
	.label_cat{
	position:absolute;
	left:100px;
	top: 15px;
	width: 110px;
	height: 87px;
	}
	
	.icone_pro{
	position:absolute;
	left:70px;
	top: 235px;
	width: 110px;
	height: 87px;
	}
	
	.label_pro{
	position:absolute;
	left:100px;
	top: 15px;
	width: 110px;
	height: 87px;
	}
	
	
	.icone_prm{
	position:absolute;
	left:70px;
	top: 310px;
	width: 110px;
	height: 87px;
	}
	
	.label_prm{
	position:absolute;
	left:100px;
	top: 15px;
	width: 110px;
	height: 87px;
	}


.icone_fun{
	position:absolute;
	left:310px;
	top: 85px;
	width: 110px;
	height: 87px;
	}
	
	.label_fun{
	position:absolute;
	left:95px;
	top: 15px;
	width: 110px;
	height: 87px;
	}
	

.icone_his{
	position:absolute;
	left:310px;
	top: 160px;
	width: 110px;
	height: 87px;
	}
	
	.label_his{
	position:absolute;
	left:95px;
	top: 15px;
	width: 110px;
	height: 87px;
	}
	
	.icone_rel{
	position:absolute;
	left:310px;
	top: 235px;
	width: 110px;
	height: 87px;
	}
	
	.label_rel{
	position:absolute;
	left:95px;
	top: 15px;
	width: 110px;
	height: 87px;
	}
	
	.icone_sub{
	position:absolute;
	left:310px;
	top: 310px;
	width: 110px;
	height: 87px;
	}
.label_sub{
	position:absolute;
	left:95px;
	top: 15px;
	width: 110px;
	height: 87px;
	}
	
	.label_log{
	font: 13px "Trebuchet MS", Calibri,   Verdana, Arial;
    color:#FFF;
	position:absolute;
	left:600px;
	top: 75px;
	width: 160px;
	height: 87px;
	}
	
	.icone_RELC{
	position:absolute;
	left:70px;
	top: 235px;
	width: 110px;
	height: 87px;
	}
	
	.label_RELC{
	position:absolute;
	left:100px;
	top: 15px;
	width: 110px;
	height: 87px;
	}